.card {
  background: gray;
  color: rgb(17, 24, 39);
  height: 14vh;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard */
  cursor: pointer;
}

.team0 {
  background: tan;
}
.team1 {
  background: #caaaf3;
}
.team2 {
  background: aquamarine;
}
.team3 {
  background: black;
  color: red;
}
