.card {
  background: gray;
  margin: auto;
  height: 80%;
  width: 80%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard */
}

.card:hover {
  cursor: pointer;
  width: 90%;
  height: 90%;
}

.team0 {
  background: tan;
}
.team1 {
  background: #caaaf3;
}
.team2 {
  background: aquamarine;
}
.team3 {
  background: black;
  color: white;
}
