.card {
  background: gray;
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard */
}

.card:hover {
  cursor: pointer;
  width: 90%;
  height: 90%;
}

.team0 {
  background: tan;
}
.team1 {
  background: #caaaf3;
}
.team2 {
  background: aquamarine;
}
.team3 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
}

button {
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  bottom: 0;
  top: 0;
  margin: auto;
}
