main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgb(17, 24, 39);
}

.card-grid {
  margin: auto;
  display: grid;
  grid-gap: 1vh;
  grid-template-columns: repeat(5, 15vw);
  grid-template-rows: repeat(5, 19vh);
}

button {
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.spymaster-button {
  top: 200px;
}
